In [1]:
import pandas as pd
import numpy as np
import csv

def csv_to_data_frame(file_name):
    titles = []
    datas = []

    with open(file_name, mode='r') as csv_file:
        csv_reader = csv.DictReader(csv_file)
        line_count = 0
        for row in csv_reader:
            if line_count == 0:
                titles = row
                line_count += 1
            datas.append([int(value) if value.isnumeric() else value for (key, value) in row.items()])
            line_count += 1
        names = pd.DataFrame(datas, columns=titles)

        return names

C:\Users\stepa\AppData\Local\Temp\ipykernel_10476\1137803680.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
data = csv_to_data_frame("./NationalNames.csv")

In [3]:
# task_3 Отримайте імена стовпців набору даних
data.columns

Index(['Id', 'Name', 'Year', 'Gender', 'Count'], dtype='object')

In [4]:
#task_4 Отримайте загальну інформацію про дані у наборі даних
data[["Id", "Year", "Count"]].describe()

                 Id          Year         Count
count  1.825433e+06  1.825433e+06  1.825433e+06
mean   9.127170e+05  1.972620e+03  1.846879e+02
std    5.269573e+05  3.352891e+01  1.566711e+03
min    1.000000e+00  1.880000e+03  5.000000e+00
25%    4.563590e+05  1.949000e+03  7.000000e+00
50%    9.127170e+05  1.982000e+03  1.200000e+01
75%    1.369075e+06  2.001000e+03  3.200000e+01
max    1.825433e+06  2.014000e+03  9.968000e+04

In [5]:
#task_5 Знайдіть кількість унікальних імен у наборі даних
data["Name"].nunique()

93889

In [6]:
#task_8 Знайдіть найпопулярніше ім’я за результатами одного року (ім’я, для якого Count максимальне)
max_item = data.loc[data['Count'].idxmax()]
f"The name is '{max_item['Name']}' in {max_item['Year']}"

"The name is 'Linda' in 1947"

In [ ]:
#task_9 Підрахуйте кількість записів, для яких Count - мінімальне у наборі.
len(data.loc[data["Count"] == data["Count"].min()])